.pending-table{
  border: 2px rgb(232, 229, 229) solid;
}
.pending-table th{
  border: 1px rgb(232, 229, 229) solid;
}
.pending-table td{
  border-left: 1px rgb(232, 229, 229) solid;
}

.pend {
  border-radius: 4px !important;
}

.candi-border {
  border-top: 2px #7b7b7b solid;
  border-left: 2px #7b7b7b solid;
  border-bottom: 1px #dfdfdf solid;
  border-right: 1px #dfdfdf solid;
  color: #000;
}

.rando {
  width: 180px;
  height: 200px;
  justify-content: right;
}

.short-table {
  height: 400px;
  overflow-x: scroll;
  overflow-y: hidden;
  border: 2px #c8c8c8 solid;
  border-radius: 4px;
}

/* width */
.short-table::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

/* Track */
.short-table::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.short-table::-webkit-scrollbar-thumb {
  background: #28c76f;
  border-radius: 4px;
}

/* Handle on hover */
.short-table::-webkit-scrollbar-thumb:hover {
  background: #28c76f;
}

/* .short-table tr{
    overflow-x: scroll;
} */

.short-table th {
  border: 2px #c8c8c8 solid;
  padding-left: 5px;
  padding-right: 15px;
  color: #000;
}

.short-table td {
  border-right: 1px #c8c8c8 solid;
  border-left: 1px #c8c8c8 solid;
  border-bottom: 1px #f0eeee solid;
  padding-left: 5px;
  padding-right: 15px;
}

.short-table tr:hover {
  border: 1px #c8c8c8 solid;
  background: #e0ffee;
}

.log-btn {
  width: 100px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.sm-btn {
  width: 90px;
  border-radius: 4px;
}

.conf {
  border: 1px #28c76f solid;
  border-radius: 4px;
  background-color: #28c76f;
  width: 220px;
  padding: 4px;
  color: #000;
  text-align: center;
}
